body{
  margin: 0;
  padding: 0;
  font-family:  "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 12px 53px 12px 55px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color:rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button.red {
  padding: 19px 39px 18px 39px;
}

.button.green {
  padding: 19px 39px 18px 39px;
  background-color: #00ca74;
}

.button.green:hover,
.button.green:focus
 {
  background-color: #00bc6c;
}

.button.green:active {
  background-color: #00aa62;
  color:rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button.yellow {
  padding: 19px 39px 18px 39px;
  background-color:#efc84a;
}

.button.yellow:hover,
.button.yellow:focus {
  background-color:#eab534;
}

.button.yellow:active {
  background-color:#e5a722;
  color:rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.container {
  width:1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.main-header {
  background-color: #eeeeee;
}

.main-navigation   {
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  padding-top: 49px;
}

.main-header-logo.inner-page:hover,
.main-header-logo.inner-page:focus {
  opacity: 0.8;
}

.main-header-logo.inner-page:active {
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 440px;
  justify-content: space-between;
  padding-top: 83px;
}

li.site-navigation-current {
  border-bottom: 2px solid red;
}

.site-navigation-link,
.cart {
  position: relative;
  color: #000000;
  text-transform: uppercase;
}

.site-navigation-link:not(.inactive):hover,
.site-navigation-link:not(.inactive):focus,
.cart:hover,
.cart:focus  {
  color: #fb565a;
}

.site-navigation-link:not(.inactive):active,
.cart:active {
  opacity: 0.3;
}

.cart {
  display: flex;
  max-width: 200px;
  padding-top: 82px;
  justify-content: flex-end;
  padding-left: 60px;
}

.cart::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 18px;
  left: 18px;
  bottom: 2px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.top-menu {
  display: flex;
  justify-content: space-between;
}

.slider {
  position: relative;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
}

.slider-controls i::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ffffff;
}

.slider-controls .active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
  color:  #283136;
}

.services{
  margin-top: 80px;
}

.services-list  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0 60px 0 0;
  list-style: none;
  position: relative;
}

.services-item {
  width: 300px;
  margin-bottom: 80px;
}

.services-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin:0;
  padding-top: 20px;
}

.services-text {
  margin:0;
  font-weight: 400;
  color: #283136;
  padding-top: 17px;
  padding-bottom: 34px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 0;
  position: relative;
}

.horizontal-divider {
  height: 2px;
  background-color: #eeeeee;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.about-us {
  width: 660px;
  padding-top: 40px;
}

.about-us-main-heading {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about-us-text {
  margin: 0;
  padding-top: 34px;
  padding-bottom: 42px;
  font-weight: 400;
  color: #283136;
}

.about-us-heading {
  margin: 0;
  padding-bottom: 27px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-us-services {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
  color: #283136;
}

.about-us-services-item {
  margin: 0;
  padding-bottom: 27px;
  padding-left: 36px;
  position: relative;
}

.about-us-services-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.info {
  width: 360px;
}

.info-image {
  margin-bottom: 36px;
}

.info-table-caption {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 44px;
}

.info-table td {
  padding: 0 10px;
}

.first-row {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
}

.first-row sup {
  top: -10px;
  font-size: 28px;
}

.second-row{
  font-weight: 400;
  line-height: 18px;
}

.second-row td {
  padding-top: 17px;
}

.partners-catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  /* margin-top: 40px; */
  /* margin-bottom: 80px; */
  position: relative;
}

.partners {
  /* margin-bottom: 80px; */
}

.partners-catalog-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  position: relative;
}

.partners-catalog-item:not(:last-of-type)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  right: 0;
}

.outer-item{
   width: 280px;
}

.inner-item{
   width: 298px;
}

.partners-catalog-link {
  opacity: 0.2;
}

.partners-catalog-link:hover {
  opacity: 1;
}

.partners-catalog-link:focus {
  opacity: 0.1;
}

.grey-line {
  height: 40px;
}

.catalog-header {
  display:  block;
  color: #000000;
  margin: 0;
  padding-top: 72px;
  padding-bottom: 104px;
}

.page-title {
  padding: 0;
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  padding-top: 60px;
  margin: 0;
  width: 260px;
  margin-right: 140px;
}

.filter-item {
  padding: 0;
  margin: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
  margin-bottom: 56px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

legend.filter-title,
.sorting-heading{
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  flex-grow: 2;
}

.filter-option-list,
.filter-features-list {
  list-style: none;
  line-height: 20px;
  color: #283136;
  font-weight: 400;
}

.filter-options,
.filter-features {
  padding-bottom: 20px;
}

.filter-option {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}


/* Filter option radio box */
.filter-option-radio {
  opacity: 0.4;
}

.filter-option-radio:hover {
  opacity: 1.0;
}

.filter-option-radio:disabled {
  opacity: 0.1;
}

/* Filter option label */
.filter-option {
  color: rgb(40, 49, 54);
}

.filter-option:hover,
.filter-option:focus  {
  color: rgb(0, 0, 0);
}

.filter-option-radio:disabled + .filter-option {
  color: rgba(40, 49, 54, 0.3);
}

.filter-option-radio + .filter-option::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -5px;
  width: 26px;
  height: 26px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-option-radio:checked + .filter-option::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -5px;
  width: 26px;
  height: 26px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-option-radio:not(:disabled) + .filter-option:hover::before {
  background-image: url("../img/radio-off-hover.svg");
}

.filter-option-radio:not(:disabled):checked + .filter-option:hover::before {
  background-image: url("../img/radio-on-hover.svg");
}

.filter-option-radio:disabled + .filter-option::before {
  background-image: url("../img/radio-off-disabled.svg");
}

.filter-option-radio:disabled:checked + .filter-option::before {
  background-image: url("../img/radio-on-disabled.svg");
}

.filter-feature {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-features-checkbox + .filter-feature::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -5px;
  width: 26px;
  height: 26px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-features-checkbox:checked + .filter-feature::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -5px;
  width: 26px;
  height: 26px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-features-checkbox:not(:disabled) + .filter-feature:hover::before {
  background-image: url("../img/checkbox-off-hover.svg");
}

.filter-features-checkbox:not(:disabled):checked + .filter-feature:hover::before {
  background-image: url("../img/checkbox-on-hover.svg");
}

.filter-features-checkbox:disabled + .filter-feature::before {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-features-checkbox:disabled:checked + .filter-feature::before {
  background-image: url("../img/checkbox-on-disabled.svg");
}

/*filter features checkbox*/
.filter-features-checkbox {
  opacity: 0.4;
}

.filter-features-checkbox:hover,
.filter-features-checkbox:focus {
  opacity: 1.0;
}

.filter-features-checkbox:disabled {
  opacity: 0.1;
}

/*filter features label*/
.filter-features {
  color: rgb(40, 49, 54);
}

.filter-features-checkbox:disabled + .filter-feature  {
  color: rgba(40, 49, 54, 0.3);
}

.filter-button {
  padding: 19px 88px 18px 89px;
  color: #000000;
  background-color: #eeeeee;
  font-weight: 500;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.sorting-catalog-container {
  padding-top: 60px;
  margin: 0;
}

.sorting {
  display: flex;
  align-items: baseline;
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
  width: 760px;
}

.sorting-list {
  display: flex;
  padding: 0 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.sorting-direction {
  display: flex;
  padding: 0 0;
  padding-left: 21px;
  margin: 0;
  list-style: none;
}

.sorting-list-link {
  padding-right: 26px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-list-link:hover,
.sorting-list-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-list-link:active,
.sorting-list-link.selected {
  color: #000000;
}

.sorting-direction-down {
  padding-right: 29px;
  background-image: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sorting-direction-up {
  padding-right: 11px;
  background-image: url(../img/icon-up-dir.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sorting-direction-down:hover,
.sorting-direction-down:focus {
  background-image: url(../img/icon-down-dir-hover.svg);
}

.sorting-direction-up:hover,
.sorting-direction-up:focus {
  background-image: url(../img/icon-up-dir-hover.svg);
}

.sorting-direction-down:active,
.sorting-direction-down.selected {
  background-image: url(../img/icon-down-dir-active.svg);
}

.sorting-direction-up:active,
.sorting-direction-up.selected {
  background-image: url(../img/icon-up-dir-active.svg);
}

.catalog-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

 .catalog-item {
   display: flex;
   flex-direction: column;
   border: solid 1px rgba(0, 1, 1, 0.1);
   width: 360px;
   margin-bottom: 33px;
   margin-right: 40px;
   border-radius: 5px;
   box-sizing: border-box;
   position: relative;
 }

 .catalog-item:nth-child(2n) {
   margin-right: 0;
 }

 .catalog-item:hover,
 .catalog-item:focus {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item img {
  box-sizing: border-box;
}

.catalog-info {
  bottom: 0;
  background-color: #eeeeee;
  padding: 29px 66px 43px 66px;
  opacity: 0;
  position: absolute;
  width: 360px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.catalog-item:hover .catalog-info {
  opacity: 1.0;
}

.catalog-item:hover .grey-line path {
  fill-opacity: 1.0;
}

.catalog-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align:  center;
  display: block;
  color: #000000;
}

.catalog-text {
  line-height:18px;
  font-weight:400;
  color:#666666;
  text-align:  center;
  margin: 15px 0 32px 0;
}

.catalog-info .button {
  margin:  0 auto;
  padding: 13px 60px 17px 62px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0;
  margin: 0;
  list-style: none;
}

.pagination-item {
  margin: 0;
  margin-right: 11px;
  text-transform: uppercase;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  padding: 16px 21px;
  color: #000000;
  background-color: #eeeeee;
  border-radius:  3px;
}

.next.pagination-link {
  padding: 16px 80px;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #dfdfdf;
}

.pagination-link:active{
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.pagination-link.current {
  padding: 13px 18px;
  background-color: #ffffff;
  border: solid 3px #dbdbdb;
  /* border-radius:  3px; */
}

.map {
  line-height: 0;
}

.map-contacts {
  width: 1440px;
  position: relative;
  margin: 0 auto;
}

.footer-contacts {
  position: absolute;
  top: 54px;
  left: 140px;
  width: 319px;
  /* height: 308px; */
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 50px; */
  /* padding-top: 52px; */
  box-sizing: border-box;
  box-sizing: border-box;
}

.contacts {
  margin: 0 auto;
  /* padding: 0 50px; */
  /* padding-top: 52px; */
  font-size:16px;
  line-height:18px;
  font-weight: 400;
  color:#666666;
}

.contacts-heading {
  font-size:18px;
  line-height:30px;
  font-weight: 700;
  color:#000000;
  text-transform: uppercase;
  padding-bottom: 9px;
  display: block;
}

.button.feedback {
  padding: 18px 40px;
  margin: 0 auto;
}

.footer-social {
  display: flex;
  padding: 70px 0;
}

.footer-social-wrapper {
  width: 560px;
  margin-left: 140px;
}

.footer-social-heading {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-social-text {
  margin:0;
  padding-top: 10px;
  line-height: 22px;
  font-weight: 400;
  color:#444444;
}

.footer-social-list {
  width: 260px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-social-list li {
  margin-bottom: 20px;
}

.social-button {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 0;
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.vk {
  background-image: url("../img/vk-icon.svg");
}

.fb {
  background-image: url("../img/fb-icon.svg");
}

.ig {
  background-image: url("../img/insta-icon.svg");
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button.ig:active {
  background-color: #d7373b;
  color:rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  background-image: url("../img/insta-icon-active.svg");
}

.social-button.vk:active {
  background-color: #d7373b;
  color:rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  background-image: url("../img/vk-icon-active.svg");
}

.social-button.fb:active {
  background-color: #d7373b;
  color:rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  background-image: url("../img/fb-icon-active.svg");
}

.modal {
  color: #000000;
  background-color: #ffffff;
  font-weight: 700;
  line-height: 18px;
}

.modal-heading {
  font-size: 45px;
  line-height: 45px;
  margin:0;
}

.write-to-us-input {
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid #d7dcde;
}

.write-to-us-input:hover {
  border: 2px solid #b4b9bb;
}

.write-to-us-input:focus {
  border: 2px solid #000000;
  color: rgb(68, 68, 68);
}

.write-to-us-input:invalid {
  border-color:#e74246;
  color: #e74246;
}

.button.send {
  font-size: 16px;
  padding: 19px 84px 19px 82px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  …
}
